html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.page_wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.search_section {
  width: 400px;
}

.global_search {
  box-shadow: 4px 6px 2px 0px rgba(0, 0, 0, 0.12),
    3px 1px 7px 0px rgba(0, 0, 0, 0.24);
}
.search-text {
  font-size: 14px;
  width: 200px;
  height: 2em;
  padding: 2px 10px 3px 40px;
  border: none;
  outline: none;
  color: #666;
}

.form_lable {
  margin-top: 2em;
  width: 100%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(115, 129, 218);
  color: #fff;
  border-radius: 100px;
}

.result {
  margin: 0px;
  width: 100%;
  display: none;
  height: 300px;
  overflow: scroll;
  border-top: 1px solid #f4f4f4;
}

.new_list {
  padding: 0.6em;
  list-style-type: none;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
}

.new_list:hover {
  background-color: rgb(84, 88, 111);
  transition: all 0.2s;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  border: none;
  outline: none;
  width: 100%;
}

.result::-webkit-scrollbar {
  width: 8px;
}

.result-webkit-scrollbar-thumbe {
  border-radius: 10px;
  background-color: #7561b1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

form {
  position: relative;
}

.close {
  z-index: 10;
  position: absolute;
  top: 25%;
  right: 2px;
  margin: 0px;
  margin: 0 auto;
  padding: 0px;
  cursor: pointer;
  font-size: 1em;
  color: rgb(86, 115, 159);
  display: none;
}

.ds {
  display: block;
}
