<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/main.css">
  <title>Document</title>
</head>
<body>
 
<!-- Page wraper-->
<div class="page_wrapper">
     <section class="search_section">
       <form class="global_search" method="get" role="search" >
         <input class="search-text" placeholder="search">
         <span class="close">X</span>
       </form>
       <div class="result"></div>
  </section>
</div>
<!-- Page wraper end-->
</body>

<script src="js/main.js"></script>
</html>